@model StudentCourseApp.Models.Course



    
<div>

    <hr />
    <dl class="mb-4 mt-3">
        <dt class="text-gray-700 font-bold">Name</dt>
        <dd class="mb-2 text-gray-900">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="text-gray-700 font-bold">Duration</dt>
        <dd class="text-gray-900">@Html.DisplayFor(model => model.Duration)</dd>
    </dl>



</div>

